@using chaves_dayron_proyecto2_3101.Models
@model Tuple<empleado, persona, List<SelectListItem>, List<SelectListItem>>

@{
    ViewBag.Title = "Añadir Empleado (2)";
}

<h2>Ingrese la informacion laboral:</h2>


@using (Html.BeginForm("AddEmpleado2", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("Item2.cedula", @Model.Item2.cedula)
    @Html.Hidden("Item2.nombre", @Model.Item2.nombre)
    @Html.Hidden("Item2.apellido", @Model.Item2.apellido)
    @Html.Hidden("Item2.direccion", @Model.Item2.direccion)
    @Html.Hidden("Item2.correo", @Model.Item2.correo)
    @Html.Hidden("Item2.telefono", @Model.Item2.telefono)

    <div class="form-group">
        @Html.LabelFor(model => @Model.Item1.puesto_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => @Model.Item1.puesto_id, @Model.Item3)
            @Html.ValidationMessageFor(model => @Model.Item1.puesto_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => @Model.Item1.departamento_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => @Model.Item1.departamento_id, @Model.Item4)
            @Html.ValidationMessageFor(model => @Model.Item1.departamento_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar Empleado" class="btn btn-primary btn-md" />
        </div>
        <a style="color:red"><small><i>Esta accion se reportará.</i></small></a>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
